
body {
  font-family: Lato, sans-serif;
  font-style: italic;
  font-color: #333;
  height: 100%;
  width: 100%;
  font-size: 24px;
  padding-top: 20px;
  background-size: cover;
}

.container {
  background: rgba(245,245,245,0.7);
  padding: 50px;
  border-radius: 3px; 
}

.container #logo {
  background: rgba(0,0,0,0.0); /* transparent */
}

#logo {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 110px;
}

/* set to table alignment to get the bastard vertically aligned */
#play-button {
  float: none;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 120px;
  margin-bottom: 20px;
}

#play-button .pop-button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#play-button #play-icon {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

.fa-play {
  padding-left: 15px;
}

#billboard {
  text-align: center;
  font-size: 80px;
  padding-top: 0px;
  padding-bottom: 100px;
}

#messages {
  font-family: Merriweather, serif;
  font-style: normal;
  margin-bottom: 30px;
}

.footer {
  display: inline;
  margin: auto;
}

#blog-link{
  text-align: left;
  text-decoration: none;
  font-size: 34px;
    margin-left: -15px;
}

#playlist-link {
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}

a:hover {
  text-decoration: none;
  color: white;
}
/* fix padding for the screen sizes, to get the buttons aligned */

/* small */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #playlist-link {
    margin-left: 30px;
  }
}
/* med */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #playlist-link {
    margin-left: 0px;
  }
}
/* lg */
@media only screen and (min-width: 1200px) {
  #playlist-link {
    margin-left: -30px;
  }
}


#social { 
  text-align: right;
}

/* css is stupid and won't let you consolidate text-decorations */
#social .facebook {
  text-decoration: none;
}

#social .instagram {
  text-decoration: none;
}

#social .twitter {
  text-decoration: none;
}

.pop-button {
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 8px 14px;
  display: inline-block; /* needed for anchors */
  position: relative;
}
.pop-button:hover {
  -webkit-transform: translate(-4px, -4px);
      -ms-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}
/* same as above */
.pop-button:focus {
  -webkit-transform: translate(-4px, -4px);
      -ms-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}

.pop-button:active {
  -webkit-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

/* Mobile only stuff */
@media only screen and (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  #billboard {
    font-size: 50px;
  }
  #blog-link {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 0px;
  }
  #playlist-link {
    text-align: center;
    padding-bottom: 10px;
  }
  #social{
    padding-bottom: 10px;
    text-align: center;
  }
  #social .facebook {
    margin-right: 0px;
  }
  #social .instagram {
    margin-left: 0px;
    margin-right : 0px;
  }
  #social .twitter {
    margin-left: 0px;
  }

  /* helper class, use to tag things that should be desktop-only */
  .desktop-only {
    display: none;
  }
}
