#logo {
  height: 280px;
  background-color: purple;
}
#media {
  background-color: purple;
}

#billboard {
  background-color: purple;
}

.footer {
  display: inline;
}

@media only screen and (max-width: 767px) {
  .mobile-only {
    display: none;
  }
}
