
body {
  font-size: 24px;
  background-color: blue;
  padding-top: 20px;
  /*
  background: url('../img/triangles.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   */
}

.container {
  background: #ededed;
  padding: 20px;
  border-radius: 3px; 
}

.jumbotron {
  font-size: 50px;
  height: 350px;
  background-color: purple;
  margin-bottom: 20px;
}

#messages {
  margin-bottom: 20px;
}

#media { 
  margin-bottom: 20px;
}
/* set to table alignment to get the bastard vertically aligned */
#play-button {
  font-size: 120px;
  max-height: 260px;
  max-width: 260px;
  display: table;
}

#play-button .glyphicon {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

#billboard {
  text-align: right;
  font-size: 90px;
}

.footer {
  display: inline;
  margin: auto;
}

#blog-link{
  text-align: left;
  text-decoration: none;
  font-size: 34px;
    margin-left: -15px;
}

#playlist-link {
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}

/* fix padding for the screen sizes, to get the buttons aligned */

/* small */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #playlist-link {
    margin-left: 40px;
  }
}
/* med */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #playlist-link {
    margin-left: 10px;
  }
}
/* lg */
@media only screen and (min-width: 1200px) {
  #playlist-link {
    margin-left: -20px;
  }
}

#social { 
  text-align: right;
}

/* css is stupid and won't let you consolidate text-decorations */
#social .facebook {
  text-decoration: none;
}

#social .youtube {
  text-decoration: none;
}

#social .twitter {
  text-decoration: none;
}

.pop-button {
  border: 0;
  border-radius: 3px;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  display: inline-block; /* needed for anchors */
  position: relative;
}
.pop-button:hover {
  transform: translate(-4px, -4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
  2px 1px #3a587f, 1px 2px #4171ae,
  3px 2px #3a587f, 2px 3px #4171ae,
  4px 3px #3a587f, 3px 4px #4171ae;
}
/* same as above */
.pop-button:focus {
  transform: translate(-4px, -4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
  2px 1px #3a587f, 1px 2px #4171ae,
  3px 2px #3a587f, 2px 3px #4171ae,
  4px 3px #3a587f, 3px 4px #4171ae;
}


.pop-button:active {
  transform: translate(-2px, -2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
  2px 1px #3a587f, 1px 2px #4171ae;
}



/* Mobile only stuff */
@media only screen and (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  #play-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  #billboard {
    text-align: center;
  }
  #blog-link {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 0px;
  }
  #playlist-link {
    text-align: center;
    padding-bottom: 10px;
  }
  #social{
    padding-bottom: 10px;
    text-align: center;
  }
  #social .facebook {
    margin-right: 20px;
  }
  #social .youtube {
    margin-left: 0px;
    margin-right : 0px;
  }
  #social .twitter {
    margin-left: 20px;
  }

  /* helper class, use to tag things that should be desktop-only */
  .desktop-only {
    display: none;
  }
}
