/* mobile styles 
 * iphone: 320px wide
 * nexus / android 5" phones: 360px wide
 * use %, not px in css :P
 */

@media only screen and (min-width : 320px) and (max-width : 568px) {
  #logo {
    background-color: red;
  }
  #media {
    background-color: red;
  }

  #billboard {
    display: none;
  }
  #gutter {
    display: none;
  }

}
