*.swp
.DS_Store
node_modules/
passwords.json
client/public/blurbImages/
client/public/uploads/
client/public/build/
client/public/build/*
npm-debug.log
package.json
client/public/js/react/
data/*
app/database/rivendell.xml

defaultPasswords.json
