// TABS STYLING


.tabs-navigation {
  // padding: 0 20px;
  // max-height: 50px;
  margin: 1%;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  // padding: 0 40px;
  padding-right: 40px;
  // height: 50px;
  // line-height: 50px;
  border-bottom: 0;
}

.tabs-menu-item.is-active a {
  // border-bottom: 0;
  // color: #333;
}

.tab-panel {
    text-align: center;
}

.tracksHeader {
    position: relative;
    font-weight: 30px;
}

input, button, submit {
    border: none;
    background: none;
    font-size: 1em;
}

// ALBUM ITEM

.albumItem{
    width: 32.666666666667%;
    // height: 250px;
    // padding-top: 24.66666666%;
    // padding-bottom: 32.66666667%;
    display: inline-block;
    // margin-left: 0;
    // margin-right: 1%;
    // margin-top: 1%;
    margin-bottom: 1%;
    // margin: 1%;
    position: relative;
    background-color: gray;
    background-size: cover;
}

.albumItem:nth-child(3n+2)
{
    margin-left: 1%;
    margin-right: 1%;
}

.albumItem span, .albumItem span div {
    display: block;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;

    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.albumItem:hover span, .albumItem span div {
    opacity: 1;
}

p.albumName, p.albumSpace, p.albumArtist , a.albumReview{
    margin: 0 auto;
}

@media (max-width: 960px) {
    .albumImage {
        min-height: 300px;
    }

    .albumItem{
        width: 48%;
    }
}

@media (max-width: 614px) {
    .albumImage {
        min-height: 300px;
    }

    .albumItem{
        width: 80%;
    }
}

// .albumItem:after {
//     content: "";
//     display: block;
//     height: 100%;
//     width: 100%;
//     opacity: 0;
//     background: rgba(0,0,0,.5);
//     -moz-transition: all 1s;
//     -webkit-transition: all 1s;
//     transition: all 1s;
//     top: 0;
//     left: 0;
//     position: absolute;
// }
//
// .albumItem:hover:after {
//     opacity: 1;
// }


.albumName, .albumSpace, .albumArtist, .albumReview {
    display: block;
    color: white;
    max-width: 145px;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    // position: relative;
    // float: left;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
    .albumImage {
        max-height: 200px;
    }
}

@media (max-width: 991px) {
    .albumImage {
        min-height: 300px;
    }

    .albumItem{
        width: 48%;
    }
}

@media (max-width: 767px) {
    .albumImage {
        min-height: 300px;
    }

    .albumItem{
        width: 60%;
    }
}
// .eventPage {
// 	margin: 10pt 0;
// 	padding: 10pt 20pt;
// }
//
// $image-width: 30%;
// .eventPage .rectImage {
// 	margin: 0 !important;
// 	display: inline-block;
// 	vertical-align: top;
// 	width: $image-width;
// }
//
// .eventPage .eventInfo {
// 	display: inline-block;
// 	width: 100% - $image-width;
// 	padding: 10pt 20pt;
// }
