extends layout

block content
    #container
        h1 Check your email for a magic token to reset your password! 🧙✨
        br
        h2 In the meantime, feel free to #[a(href="/panel") go back] to login.

