
extends layout

block content

	#container
		form( method="post")#login-form.well.span4
			h1 Create New Password
			p.subheading Please provide your new password
			label Unique Identifier 
			input(type="password", name="unique_id", id='unique_id').span4.required
			label Password 
			input(type="password", name="pass1", id='pass-tf1').span4.required
			label Re-confirm Password
			input(type="password", name="pass2", id='pass-tf2').span4.required
			button(git type="submit")#account-form-btn1.btn
				| Done
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/reset.js')
	script(src='/js/form-validators/resetValidator.js')