extends layout

block content
    #container(style="width:40rem;")
        h1 Success! 
        h2 You've got yourself a new password. 
        br
        br
        h2 Now try #[a(href="/panel") logging in] with it.


