doctype html
html.no-js(lang='en')
  head

    link(rel='stylesheet', type='text/css', href='/css/blurbPage.css')
    script(src='/js/modernizr.custom.63321.js')
  body
    style.
      body {
      background-color: yellow;
      }
    .regan
        .main
          #mi-slider.mi-slider
            ul
              li
                a(href='#')
                  h4 Belts
              li
                a(href='#')
                  h4 Hats & Caps
              li
                a(href='#')
                  h4 Sunglasses
              li
                a(href='#')
                  h4 Scarves
              li
                a(href='#')
                  h4 Belts
              li
                a(href='#')
                  h4 Hats & Caps
              li
                a(href='#')
                  h4 Sunglasses
              li
                a(href='#')
                  h4 Scarves
              li
                a(href='#')
                  h4 Belts
              li
                a(href='#')
                  h4 Hats & Caps
              li
                a(href='#')
                  h4 Sunglasses
              li
                a(href='#')
                  h4 Scarves
            ul
              li
                a(href='#')
                  img(src='images/9.jpg', alt='img09')
                  h4 Casual
              li
                a(href='#')
                  img(src='images/10.jpg', alt='img10')
                  h4 Luxury
              li
                a(href='#')
                  img(src='images/11.jpg', alt='img11')
                  h4 Sport
            ul
              li
                a(href='#')
                  img(src='images/12.jpg', alt='img12')
                  h4 Carry-Ons
              li
                a(href='#')
                  img(src='images/13.jpg', alt='img13')
                  h4 Duffel Bags
              li
                a(href='#')
                  img(src='images/14.jpg', alt='img14')
                  h4 Laptop Bags
              li
                a(href='#')
                  img(src='images/15.jpg', alt='img15')
                  h4 Briefcases
            ul
              li
                a(href='#')
                  img(src='images/12.jpg', alt='img12')
                  h4 Carry-Ons
              li
                a(href='#')
                  img(src='images/13.jpg', alt='img13')
                  h4 Duffel Bags
              li
                a(href='#')
                  img(src='images/14.jpg', alt='img14')
                  h4 Laptop Bags
              li
                a(href='#')
                  img(src='images/15.jpg', alt='img15')
                  h4 Briefcases
            ul
              li
                a(href='#')
                  img(src='images/12.jpg', alt='img12')
                  h4 Carry-Ons
              li
                a(href='#')
                  img(src='images/13.jpg', alt='img13')
                  h4 Duffel Bags
              li
                a(href='#')
                  img(src='images/14.jpg', alt='img14')
                  h4 Laptop Bags
              li
                a(href='#')
                  img(src='images/15.jpg', alt='img15')
                  h4 Briefcases
            nav
              a(href='#') M
              a(href='#') T
              a(href='#') W
              a(href='#') Th
              a(href='#') F
      // /container
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/js/jquery.catslider.js')
    script.
      $(function() {
      $( '#mi-slider' ).catslider();
      });
