doctype html(lang='en')
head
    meta(charset='utf-8')
         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
         
    meta(name='description', content='UCLA Radio')
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
         
    title UCLA Radio
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
         
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    // font awesome
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    // other fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:300italic', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Merriweather:300', rel='stylesheet', type='text/css')
    // trianglify, for background stuff
    script(src='http://d3js.org/d3.v3.min.js')
         
    script(src='http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.4/trianglify.min.js')
    // Our stylesheets/scripts
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/newBlurb.css')
    link(rel='stylesheet', type='text/css', href='css/newShow.css')
         
    link(rel='icon', href='favicon.ico', type='image/x-icon')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-21406547-20', 'auto');
      ga('send', 'pageview');

  body
    
    .container(role='main')
      a(href='/')
        img#logo(src='img/logo.png', alt='UCLA RADIO')

      h1#header Show App

      #submissionStatus
        h3= status

      form(action='/newShow' method='POST' enctype='multipart/form-data')
        .form-container
          .center
            h1 DJ Info
          h5 If you have multiple DJs separate all the information with commas and no space (i.e. for the email input: dj1@email.com,dj2@email.com)
          
          .row
            .col-md-6
              .form-group
                label(for='fullName') Full Name
                  input.form-control(type='text', name='fullName', required)

            .col-md-6
              .form-group
                label(for='djName') DJ Name
                  input.form-control(type='text', name='djName', required)
          .row
            .col-md-6
              .form-group
                label(for='department') Department
                  input.form-control(type='text', name='department', required)

            .col-md-6
              .form-group
                label(for='email') Email Address
                  input.form-control(type='text', name='email', required)

          .row
            .col-md-6
              .form-group
                label(for='phoneNumber') Phone Number
                  input.form-control(type='text', name='phoneNumber', required)

            .col-md-6
              .form-group
                label(for='numQuarters') Number of Quarters as a DJ
                  input.form-control(type='number', name='numQuarters', required)
          .row
            .col-md-6
              .form-group
                label(for='acceptableToHaveIntern') Is it acceptable to have interns on your show?
                  input.form-control(type='checkbox', name='acceptableToHaveIntern')

            .col-md-6
              .form-group
                label(for='numInterns') How many interns?
                  input.form-control(type='number', name='numInterns', min='0', step='1')
        .form-container
          .center
            h1 Program 1
          .row
            .col-md-6
              .form-group
                label(for='showTitle') Show Title
                  input.form-control(type='text', name='showTitle', required)

            .col-md-6
              .form-group
                label(for='genre') Show Genre(s)
                  input.form-control(type='text', name='genre', required)
          .row
            .col-md-6
              .form-group
                label(for='length') Length of Show (in hours)
                  input.form-control(type='number', name='length', min='0', step='1', required)
      
          .row
            .col-md-12
              .form-group
                label(for='showDescription') Show Description (20-40 words)
                  textarea.form-control(name='showDescription', required)

          .row
            .col-md-12
              .form-group
                label(for='sampleSet') 5 Song Sample Set
                  textarea.form-control(name='sampleSet', required)

          .row
            .col-md-12
              .form-group
                label(for='talkingPoints') Talking Points
                  textarea.form-control(name='talkingPoints', required)

        .form-container
          .center
            h1 Program 2
          .row
            .col-md-6
              .form-group
                label(for='showTitle2') Show Title
                  input.form-control(type='text', name='showTitle2', required)

            .col-md-6
              .form-group
                label(for='genre2') Show Genre(s)
                  input.form-control(type='text', name='genre2', required)
          .row
            .col-md-6
              .form-group
                label(for='length2') Length of Show (in hours)
                  input.form-control(type='number', name='length2', min='0', step='1', required)
      
          .row
            .col-md-12
              .form-group
                label(for='showDescription2') Show Description (20-40 words)
                  textarea.form-control(name='showDescription2', required)

          .row
            .col-md-12
              .form-group
                label(for='sampleSet2') 5 Song Sample Set
                  textarea.form-control(name='sampleSet2', required)

          .row
            .col-md-12
              .form-group
                label(for='talkingPoints2') Talking Points
                  textarea.form-control(name='talkingPoints2', required)

        .form-container
          .center
            h1 Preferred Timeslots
          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 1
              .col-md-10
                .form-group
                  label(for='timeslot1') Time
                    select.form-control(name='timeslot1', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day1') Day
                  select.form-control(name='day1', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 2
              .col-md-10
                .form-group
                  label(for='timeslot2') Time
                    select.form-control(name='timeslot2', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day2') Day
                  select.form-control(name='day2', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 3
              .col-md-10
                .form-group
                  label(for='timeslot3') Time
                    select.form-control(name='timeslot3', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day3') Day
                  select.form-control(name='day3', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 4
              .col-md-10
                .form-group
                  label(for='timeslot4') Time
                    select.form-control(name='timeslot4', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day4') Day
                  select.form-control(name='day4', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 5
              .col-md-10
                .form-group
                  label(for='timeslot5') Time
                    select.form-control(name='timeslot5', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day5') Day
                  select.form-control(name='day5', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 6
              .col-md-10
                .form-group
                  label(for='timeslot6') Time
                    select.form-control(name='timeslot6', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day6') Day
                  select.form-control(name='day6', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 7
              .col-md-10
                .form-group
                  label(for='timeslot7') Time
                    select.form-control(name='timeslot7', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day7') Day
                  select.form-control(name='day7', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 8
              .col-md-10
                .form-group
                  label(for='timeslot8') Time
                    select.form-control(name='timeslot8', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day8') Day
                  select.form-control(name='day8', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 9
              .col-md-10
                .form-group
                  label(for='timeslot9') Time
                    select.form-control(name='timeslot9', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day9') Day
                  select.form-control(name='day9', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

          .row
            .col-md-6
              .col-md-2
                .circle-num
                  span 10
              .col-md-10
                .form-group
                  label(for='timeslot10') Time
                    select.form-control(name='timeslot10', required)
                      option(disabled='disabled')
                      option(value='1am') 1AM
                      option(value='2am') 2AM
                      option(value='3am') 3AM
                      option(value='4am') 4AM
                      option(value='5am') 5AM
                      option(value='6am') 6AM
                      option(value='7am') 7AM
                      option(value='8am') 8AM
                      option(value='9am') 9AM
                      option(value='10am') 10AM
                      option(value='11am') 11AM
                      option(value='12pm') 12PM
                      option(value='1pm') 1PM
                      option(value='2pm') 2PM
                      option(value='3pm') 3PM
                      option(value='4pm') 4PM
                      option(value='5pm') 5PM
                      option(value='6pm') 6PM
                      option(value='7pm') 7PM
                      option(value='8pm') 8PM
                      option(value='9pm') 9PM
                      option(value='10pm') 10PM
                      option(value='11pm') 11PM
                      option(value='12am') 12AM

            .col-md-6
              .form-group
                label(for='day10') Day
                  select.form-control(name='day10', required)
                    option(disabled='disabled')
                    option(value='Mon') Monday
                    option(value='Tue') Tuesday
                    option(value='Wed') Wednesday
                    option(value='Thu') Thursday
                    option(value='Fri') Friday
                    option(value='Sat') Saturday
                    option(value='Sun') Sunday

        .form-container
          .center
            h1 Last Few Things
          .row
            .col-md-12
              label(for='preferredShow') Which Show I'd Prefer:
                textarea.form-control(name='preferredShow', required)

          .row
            .col-md-12
              label(for='whyValuable') Why is your program valuable to UCLARadio.com?
                textarea.form-control(name='whyValuable', required)

          .row
            .col-md-12
              label(for='howToImprove') Returning DJs, how do you hope to improve your show?
                textarea.form-control(name='howToImprove', required)

          .row
            .col-md-12
              label(for='threeThingsImproved') What are three things you want to see improved/changed about the station as a whole?
                textarea.form-control(name='threeThingsImproved', required)

          .row
            .col-md-12
              label(for='whatHasImproved') What things have improved in the station as a whole?
                textarea.form-control(name='whatHasImproved', required)

          .row
            .col-md-12
              label(for='moreListeners') How could UCLARadio.com attract more listeners?
                textarea.form-control(name='moreListeners', required)

          .row
            .col-md-12
              label(for='otherComments') Other comments you want management to see (your answer will not affect your timeslot):
                textarea.form-control(name='otherComments', required)

          .row
            .col-md-12
              label(for='interestedInReceiving') Would you be interested in receiving info about in station performances and on air interview possibilities?
                textarea.form-control(name='interestedInReceiving', required)

          .row
            .col-md-12
              label(for='password') Super Secret Password
                input.form-control(name='password', type='password', required)

          .row
            .center
              h1 You made it! Congrations!

        .row
          .col-md-12
            .form-group
              button.btn#new-blurb-submit(type='submit') Submit

script(src='js/newBlurb.js')
