doctype html(lang='en')
head
    meta(charset='utf-8')
         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
         
    meta(name='description', content='UCLA Radio')
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
         
    title UCLA Radio
    // material design requires
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
         
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    // font awesome
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    // other fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:300italic', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Merriweather:300', rel='stylesheet', type='text/css')
    // trianglify, for background stuff
    script(src='http://d3js.org/d3.v3.min.js')
         
    script(src='http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.4/trianglify.min.js')
    // Our stylesheets/scripts
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/pages.css')
         
    link(rel='icon', href='favicon.ico', type='image/x-icon')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-21406547-20', 'auto');
      ga('send', 'pageview');

  body

    .container(role='main')
      a(href='/')
        img#logo(src='img/logo.png', alt='UCLA RADIO')

      #submissionStatus
        h1= status

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.staffing-points
              h2.mdl-card__title-text.black Staffing Points Form
            .mdl-card__supporting-text
              | Submit all your last minute points here.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/1yWxyBP')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.total-points
              h2.mdl-card__title-text Staffing Points Totals
            .mdl-card__supporting-text
              | Double check that you still need 17 staffing points before tomorrow.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/1H1M2Wc')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.in-station
              h2.mdl-card__title-text In-Studio Request Form
            .mdl-card__supporting-text
              | Fill this out if you want to have an artist come in to the station and perform.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/1nZXeZh')
                | Go

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.concert-press
              h2.mdl-card__title-text Tickets & Press Request Form
            .mdl-card__supporting-text
              | Want to go to a show for free? Fill this out.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/1y1gPtt')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.substitution
              h2.mdl-card__title-text Sub Request Form
            .mdl-card__supporting-text
              | Feeling under the weather? Fill this out to get a sub for your show.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/Ru6JCE')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.spreadsheet
              h2.mdl-card__title-text Sub Request Spreadsheet
            .mdl-card__supporting-text
              | Check if someone already filled the sub request you wanted.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/1qSA7i1')
                | Go

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.consent-and-release
              h2.mdl-card__title-text Consent and Release Form
            .mdl-card__supporting-text
              | Fill this out to be in one of our cool videos.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/a/media.ucla.edu/document/d/1F1rk0aif7x3KooQBsm3aBW0Vj03obQJJ3ZhOBVEZJCE/edit?usp=sharing')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.roster
              h2.mdl-card__title-text 2015-2016 Roster
            .mdl-card__supporting-text
              | Get on the Access List so you can get in the station.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://bit.ly/1vjBtpQ')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.calendar
              h2.mdl-card__title-text UCLA Radio Internal Calendar
            .mdl-card__supporting-text
              | See when our stuff is happening.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='calendar')
                | GO

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.email
              h2.mdl-card__title-text Digital Managers Board
            .mdl-card__supporting-text
              | Email our lovely managers.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='managers')
                | GO

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.faq
              h2.mdl-card__title-text Radio FAQs
            .mdl-card__supporting-text
              | Confused? Click the link.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/document/d/1oE4CtTT6E8eVXEIMNn3gx6Xl_PsEQxn1PmwcwenH0fs/edit')
                | GO

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.suggestion-box
              h2.mdl-card__title-text Anonymous Suggestion Box
            .mdl-card__supporting-text
              | Tell us how much we suck.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://goo.gl/forms/mek45p66AW')
                | GO

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.bylaws
              h2.mdl-card__title-text Bylaws
            .mdl-card__supporting-text
              | Look at our rules.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='#')
                | COMING SOON

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.interview-signups
              h2.mdl-card__title-text Show Interview Sign-Ups
            .mdl-card__supporting-text
              | See which interview slots applicants signed up for.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://www.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1qjBYMBc5f_uPqEvtmtm2w4PAeRLabQJV-Hp4nHPoekQ%2Fedit%3Fusp%3Dsharing&h=4AQFnRMKT')
                | GO

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.show-graphics
              h2.mdl-card__title-text A&D Show Graphics Request Form
            .mdl-card__supporting-text
              | Get a sick graphic for your show.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://www.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fa%2Fmedia.ucla.edu%2Fforms%2Fd%2F1JVwlF6H1WrckGB9j4-N4q9El8Rof6UGB4ma9xe4_wic%2Fviewform&h=4AQFnRMKT')
                | GO

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.nmfs
              h2.mdl-card__title-text NMFs
            .mdl-card__supporting-text
              | Submit your NMF list.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://www.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2F1OUQVY9ODb3_a_fyNyrp0lKcLstMA1c3ZSywkkEYs43s%2Fviewform&h=4AQFnRMKT')
                | GO

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide 
            .mdl-card__title.photovidrequest
              h2.mdl-card__title-text Photo/Video Request Form
            .mdl-card__supporting-text
              | Request a video or photo.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='http://goo.gl/forms/pw32KbFjYD')
                | GO

script(src='js/newBlurb.js')
