html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    title UCLA Radio
    |     
    meta(name='description', content="UCLA's student radio station.")
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(rel='stylesheet', href='css/style.css')
    |     
    link(rel='icon', href='comp_img/favicon.ico', type='image/x-icon')
    |     
    link(rel='shortcut icon', href='comp_img/favicon.ico', type='image/x-icon')
    |     
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Racing+Sans+One', rel='stylesheet', type='text/css')
  |   
  body
    #container
      a#hidden-hover(href='http://igg.me/at/UCLARadio', onmouseover="document.getElementById('pledge-drive-banner').src='comp_img/full.png' ", onmouseout="document.getElementById('pledge-drive-banner').src='comp_img/colored.png' ")
      |       
      img#pledge-drive-banner(src='comp_img/colored.png', alt='PLEDGE DRIVE')
    |     
    .box
      h1 UCLA Radio needs your help.
      iframe#pledge-vid(src='https://drive.google.com/file/d/0B_eBNZhpBzZHcHBqbzF5NS1CUmM/preview', width='640', height='480')
      p
        | UCLA Radio has gone through some tough times over the years,
        | but what saves us time and again are listener donations.
        | This year is no different. We need your support.
      |       
      p
        | For the first time ever, UCLA Radio is broadcasting live 
        em
          | 24 hours
          | a day
        |  for Monday through Friday of Pledge week. Our DJs will be in the booth
        |         around the clock.
        |         
        strong
          a(href='http://www.uclaradio.com')
            | Tune in anytime (literally) right here.
      |       
      p
        | We really, really, really need your help. Your donation, no matter how small,
        | directly helps us keep our humble station running.
      |       
      p
        | Thanks for your support, and long live college radio!
      |       
      a(href='http://igg.me/at/UCLARadio')
        img#donate-button(src='comp_img/donate_colored.png', onmouseover="document.getElementById('donate-button').src='comp_img/donate_full.png' ", onmouseout="document.getElementById('donate-button').src='comp_img/donate_colored.png' ")

