doctype html(lang='en')
head
	link(rel="stylesheet", href="/css/rush.css")
body
	section#rush
		img(src="/img/text4.svg", id="text-4")
		img(src="/img/text1.svg", id="text-1")
		img(src="/img/text2.svg", id="text-2")
		img(src="/img/text3.svg", id="text-3")
