doctype html(lang='en')
head
	link(rel="stylesheet", href="/css/rush.css")
body
	section#rush
		img(src="/img/text4.svg", id="text-4")
		img(src="/img/text1.svg", id="text-1")
		img(src="/img/text2.svg", id="text-2")
		img(src="/img/text6.svg", id="text-6")
		a(href="http://apply.dailybruin.com/applications/ucla-radio/station-intern/")
			img(src="/img/text5.svg", id="text-5")
		img(src="/img/text3.svg", id="text-3")
		img(src="/img/text7.svg", id="text-7")
		img(src="/img/text8.svg", id="text-8")
