doctype html(lang='en')
head
    meta(charset='utf-8')
         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
         
    meta(name='description', content='UCLA Radio')
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
         
    title UCLA Radio
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
         
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    // font awesome
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    // other fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:300italic', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Merriweather:300', rel='stylesheet', type='text/css')
    // trianglify, for background stuff
    script(src='http://d3js.org/d3.v3.min.js')
         
    script(src='http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.4/trianglify.min.js')
    // Our stylesheets/scripts
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/staffingPointsView.css')
         
    link(rel='icon', href='favicon.ico', type='image/x-icon')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-21406547-20', 'auto');
      ga('send', 'pageview');

  body
    
    .container(role='main')
      a(href='/')
        img#logo(src='/img/logo.png', alt='UCLA RADIO')

      #container

script(src='/build/react.js')
script(src='/build/react-dom.js')
script(src='/js/react/staffingPoints.js')
script(src='/js/newBlurb.js')
script(src='/js/react/staffingPoints.js')
