#allShows
{
  font-family: 'apercu_lightregular';
  font-style: normal !important;
  color: white;
  text-align: center;
  /*border is set in line 75 of scripts.js*/
}



#allShows li a {
    text-decoration:  none;
    list-style-type: none;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    transition: color 0.5s, background-color 0.5s;
    font-style: italic;

}

#allShows a:hover {
    background-color: white !important;
    color: black;
    transition: color 0.5s, background-color 0.5s;
}

#allShows ul {
    list-style-type: none;
    margin: 0;
    padding: 5px; 
}
