.message-bubble {
	background-image: url("http://www.electricspec.com/Images/positive.jpg");
	display: inline-block;
	float:right;
}

.chat-box {
    transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
	height: 20em;
	display: fixed;
	overflow-y: scroll;
	width: 100%;
}

.chat-box-wrapper {

}

/*.chat-icon {
	width: 100px !important;
	text-align: center !important;
}*/