/**
Events.css

Styling for events tab of new frontpage
**/


@keyframes lightfadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

/* Firefox < 16 */
@-moz-keyframes lightfadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes lightfadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

/* Internet Explorer */
@-ms-keyframes lightfadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

/* Opera < 12.1 */
@-o-keyframes lightfadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}


@keyframes lightfadeout {
    from { opacity: 0.85; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes lightfadeout {
    from { opacity: 0.85; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes lightfadeout {
    from { opacity: 0.85; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes lightfadeout {
    from { opacity: 0.85; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes lightfadeout {
    from { opacity: 0.85; }
    to   { opacity: 0; }
}

.eventsContent {
	margin-top: 15px;
	text-align: center;
}

@media screen and (min-width: 48em){
    .eventsContent{
        text-align: left;
    }
}

.monthEvents {
	overflow: auto;
	clear: both;
	margin: 0 auto;
}

.allEvents {
	font-size: 0;
}

.event {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 5px;
	color: white;
	position: relative;
	cursor: pointer;
}

.venue {
	font-size: 14px;
}

.enterLabel {
	color: black;
	text-align: right;
	font-size: 14px;
	font-style: italic;
	position: absolute;
	bottom: 0px;
	right: 5px;
	margin-bottom: 0px;
}

.separator {
	font-size: 18px;
	font-family: Georgia, serif;
	line-height: 10px;
}

.eventOverlay {
	position: absolute;
	top: 30%;
	left: 12.5%;
	width: 150px;
}

.eventDate {
	font-size: 160px;
	line-height: 200px;
	font-weight: bold;
	opacity: 0.35;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.bandName {
	font-size: 18px;
	font-family: Georgia, serif;
	font-style: italic;
	margin-bottom: 0
}

.hoverOverlay {
	width: 100%;
	opacity: 0;
}

.hoverOverlay:hover {
	opacity: .85;
}

.overlayWrapper {
	width: 100%;
}

.overlayWrapper .overlay {
	height: 100%;
	width: 100%;
	background-color: grey;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
    -webkit-animation: lightfadein 0.85s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: lightfadein 0.85s; /* Firefox < 16 */
        -ms-animation: lightfadein 0.85s; /* Internet Explorer */
         -o-animation: lightfadein 0.85s; /* Opera < 12.1 */
            animation: lightfadein 0.85s;
}
		
.overlayWrapper:hover .overlay {
	opacity: 0;
    -webkit-animation: lightfadeout 0.85s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: lightfadeout 0.85s; /* Firefox < 16 */
        -ms-animation: lightfadeout 0.85s; /* Internet Explorer */
         -o-animation: lightfadeout 0.85s; /* Opera < 12.1 */
            animation: lightfadeout 0.85s;
}

.overlayWrapper .hoverOverlay {
	height: 20px;
	width: 100%;
	background-color: white;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline;
}

.overlayWrapper:hover .hoverOverlay {
	opacity: .8;
}

.colorKeyLabel {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	font-size: 16px;
}

.dot {
	background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
