.monthEvents{
	display: block; 
	height: auto;
	overflow: auto; 
	width: 100%;
	clear: both; 
	margin-bottom: 10px;
}

.venue{
	color: white;
	text-align: center;
	font-size: 14px;
	margin-bottom: 0px;
}

.enterLabel{
	color: black;
	text-align: right;
	font-size: 14px;
	font-style: italic;
	position: absolute;
	bottom: 0px;
	right: 5px;
	margin-bottom: 0px;
}

.separator{
	color: white; 
	text-align: center; 
	font-size: 18px;
	font-family: Georgia, serif; 
	margin-bottom: 0;
}

.bandPic{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
}

.event{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 5px;
	float: left;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.eventOverlay{
	position: absolute;
	top: 30%;
	left: 12.5%;
	width: 150px;
}

.eventDate{
	color: white;
	text-align: center;
	font-size: 160px;
	line-height: 200px;
	font-weight: bold;
	opacity: 0.35;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.bandName{
	color: white; 
	text-align: center;
	font-size: 18px;
	font-family: Georgia, serif;
	font-style: italic;
	margin-bottom: 0
}

.showLabel{
	margin: 10px; 
	display: inline;
}

.formGroup{
	margin: 10px;
}

.formLabel{
	display: inline;
}

.formInput{
	background-color: grey;
	border-style: none;
	width: 75%;
}

.formButton{
	border-radius: 0;
	position: absolute;
	left: 40%;
}

.showDesc{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
	font-style: italic;
	color: blue;
	font-family: serif;
}

.eventBlock{
	clear: both;
	height: auto;
}

.modal-dialog{
	width: 500px;
}

.modal-content{
	border-radius: 0;
	opacity: 0.85;
	height: 200px;
	width: 500px;
	margin: 0;
}

.enterContest{
	position: fixed;
	top: 30%;
	vertical-align: middle;
}

.hoverOverlay{
	height: 200px;
	width: 101%;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline;
}
.hoverOverlay:hover{
	opacity: .85;
}

.overlayWrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
}

.overlayWrapper .overlay{
	height: 100%;
	width: 100%;
	background-color: grey;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
}
		
.overlayWrapper:hover .overlay{
	opacity: 0;
}

.overlayWrapper .hoverOverlay{
	height: 20px;
	width: 100%;
	background-color: white;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline;
}

.overlayWrapper:hover .hoverOverlay{
	opacity: .8;
}

.colorKey{
	display: block;
	margin: 0;
}

.colorKeyLabel{
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.colorKeyLabel p{
	display: inline;
	font-size: 16px;
}

.dot{
	background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;

}



