.album_artwork
{
  width: 100px;
}

.dj_blurb
{
   font-family: 'apercuregular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-style: normal;
}

#blurb-image {
	width: 100%;
}

.slick-prev{
}

.slick-slide
{
  height: 231px;
}

#dj_image
{
  float: left;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#carousel-container
{
  height:221px;
}

.twitter, .instagram, .facebook
{
  margin:5px;
}

#c_data
{
  width: 80%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'apercu_lightregular';

}

#current_track
{
  width: 100px;
}

#current_info
{
  display:none;
  font: black !important;
/*  background-color:rgba(0,0,0,0.5);
*//*  -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);*/
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#blurb
{
  color: black;
  float: right;
  height: 100%;
  /*font-family: Lato, sans-serif;*/
}

.form-control
{
	font-style: normal;
	font-weight: normal;
}

#new-blurb-submit
{
	font-style: normal;
	font-weight: normal;
}

body {
  font-color: #333;
  height: 100%;
  width: 100%;
  font-size: 24px;
  background-size: cover;
}



mark
{
  color: white;
}

#dj_image img
{
  width: 100%;
  height: 100%;
  margin-left: -25px;
}


.container {
  background: rgba(245,245,245,0.5);
  padding: 50px;
  border-radius: 3px;
  margin: 20px auto;
}

.form-container {
  background: rgba(245,245,245,0.5);
  padding: 25px;
  border-radius: 3px;
  margin: 20px auto;
  width: 100%;
}

.container #logo {
  background: rgba(0,0,0,0.0); /* transparent */
}

#logo {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 50px;
}

#logo-programming {
  max-width: 100%;
  max-height: 80%;
  padding-bottom: 20px;
}

#sotm {
  width: 100%;
}

.apply-div {
  text-align: center;
}

.apply-button {
  text-align: center;
  margin-bottom: 50px !important;
  font-size: 75px !important;
}

#pledge-drive
{
	background: linear-gradient(to top right, rgb(68, 144, 183), rgb(176, 70, 89));
	color: white;
	font-size: 100px;
}

@media (max-width: 1080px) {
	#pledge-drive
	{
		font-size: 60px;
	}
}

#description
{
  font-size: 16px;
}

#genre h3
{
  font-size: 20px;
}

/* set to table alignment to get the bastard vertically aligned */
#play-button {
  float: none;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 120px;
  margin-bottom: 20px;
  z-index: 10;
}

#play-button .pop-button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#play-button #play-icon {
  text-align: center;
  text-decoration: none;
}

/*this style rule is to vertically center the play triangle within the button
 * the margin-top: -61px pushes it back towards the top by half of the height of the triangle.
 */
#play-icon {
  position: relative;
  top: 50%;
  margin-top: -61px;
}

.fa-play {
  padding-left: 15px;
}

#billboard {
  font-family: arial;
  text-align: center;
  font-size: 80px;
  padding-top: 0px;
  padding-bottom: 20px;
  z-index: 10;
}

#messages {
  /*font-family: 'apercuregular',"Roboto","Helvetica","Arial",sans-serif;*/
  font-style: normal;
  margin-bottom: 30px;
  letter-spacing: .05em;
}

.footer {
  display: inline;
  margin: auto;
}

#blog-link{
  text-align: left;
  text-decoration: none;
  font-size: 34px;
    margin-left: -15px;
}

.bott-button {
  font-size: 34px;
  margin: 5px;
}

#playlist-link {
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}

@media (max-width: 1200px) {
  #links-container {
    text-align: center;
  }
}

a:hover {
  text-decoration: none;
  color: white;
}
/* fix padding for the screen sizes, to get the buttons aligned */

/* small */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #on_air
  {
    font-size: 30px;
  }

  #SHOW_TITLE, #DJ_NAME, #BLURB {font-size: 20px !important;}


  #dj_image img
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #playlist-link {
    margin-left: 30px;
  }
}
/* med */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #playlist-link {
    margin-left: 0px;
  }
  #on_air
  {
    font-size: 40px;
  }
}
/* lg */
@media only screen and (min-width: 1200px) {
  #playlist-link {
    margin-left: -30px;
  }
}


#social {
  text-align: right;
}

/* css is stupid and won't let you consolidate text-decorations */
#social .facebook {
  text-decoration: none;
}

#social .instagram {
  text-decoration: none;
}

#social .twitter {
  text-decoration: none;
}

.pop-button {
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 8px 14px;
  display: inline-block; /* needed for anchors */
  position: relative;
}

.pop-button:active {
  -webkit-transform: translate(+4px, +4px);
      -ms-transform: translate(+4px, +4px);
          transform: translate(+4px, +4px);
}

@media only screen and (max-width: 500px) {

    #on_air
    {
      font-size: 20px;
    }
    #SHOW_TITLE, #DJ_NAME, #BLURB {font-size: 15px !important;}


    #c_data
    {
      width: 50%;
    }

    .album_artwork
    {
      width: 100px;
    }

    .slick-prev:before, .slick-next:before { font-size: 80px !important;}




}

/* center social and other links for ipad view */
@media only screen and (max-width: 767px){

  /* helper class, use to tag things that should be desktop-only */
  .desktop-only{
    display: none !important;
  }


}

/* Mobile only stuff */
@media only screen and (max-width: 1200px){

  #social{
    padding-bottom: 10px;
    text-align: center;
  }

  body {
    padding-top: 0px;
    margin-bottom: 20px;
  }

  .slick-dots
  {
    display: none !important;
  }

  #dj_image img
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  #blurb
  {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }


  #billboard {
    font-size: 50px;
  }

  #blog-link {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 0px;
  }
  #playlist-link {
    text-align: center;
    padding-bottom: 10px;
  }
}
