/**
{
  font-family: 'apercuregular' !important;
}*/

.show-about
{
  font-size: 12px !important;
}

.djName
{
  font-family: "apercu_lightregular";
  font-size: 12px;
  letter-spacing: 0em;
  padding-left: 4px;
  margin-top: 2px;
  text-align: center


}

sup
{
  font-size: 1vw;
  margin-top: -200% !important;
}

.timeslot
{
  margin-top: -5%;
  font-size: 3vw;

}

@media only screen and (min-width: 775px) and (max-width: 950px){
  .timeslot{
    margin-top: -5px;
  }
}

@media only screen and (min-width: 992px){
  h3
  {
    font-size: 2vw !important;
  }
}

@media only screen and (max-width: 775px){
  h3
  {
    font-size: 3vw !important;
    text-align: center;
  }
  .timeslot
  {
    font-size: 5vw;
  }
  .AMorPM {
    display: none;
  }
  sup
  {
    font-size: 3vw;
  }
  .djName
  {
    display: none;
  }

}


@media only screen and (max-width: 550px){
  .timeslot
  {
    margin-top: -5%;
    font-size: 7vw;
  }
  .djName
  {
    display:none;
  }

}

@media only screen and (max-width: 400px){
  .timeslot
  {
    margin-top: -5%;
    font-size: 9vw;
  }
  .djName
  {
    display: none;
  }

}

@media only screen and (min-width: 1375px){
  .timeslot
  {
    margin-top: -4%;
    font-size: 2.7vw;
  }
}

h3
{
  font-family: 'apercuregular';
}

nav
{
  font-style: none !important;
  font-family: 'apercubold';
}

.hosted-by
{
  font-size: 1.5vw;
}

#play-button-wrapper
{
  margin-top: 5%;
  text-align: center;
  margin-left: 3%;
  margin-right: -3%;
}

@media only screen and (max-width: 990px){
  #dj_blurb{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #button-play-wrapper{
    width: 100%;
  }

  #play-button-wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;

    }
}

@media only screen and (max-width: 850px){
  #dj_blurb
  {
    width: 100% !important;
    margin-left: 0px !important;
    background-color: yellow !important;

  }
}



.slick-prev{
}


.album_artwork
{
  width: 126px;
}



.slick-slide
{
  height: 231px;
}

#carousel-container
{
  height:221px;
  font-family: 'apercu_lightregular';
  font-size: 100px !important;

}

.twitter, .instagram, .facebook
{
  margin:5px;
}

#c_data
{
  width: 80%;
  margin-left: auto;
  font-size: 15px;
  margin-right: auto;
}

#current_track
{
  width: 100px;
}

#current_info
{
  display:none;
  font: black !important;
/*  backgrouxnd-color:rgba(0,0,0,0.5);
*//*  -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.75);*/
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


body {
/*  font-family: Lato, sans-serif;
*//*  font-style: italic;
*/  
  font-style: normal;
  font-color: #333;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  background-size: cover;
}



mark
{
  color: white;
}

#dj_image img
{
  width: 100%;
  height: 100%;
  margin-left: -25px;
}


.container {
  background: rgba(245,245,245,0.7);
  padding: 50px;
  border-radius: 3px; 
}

.container #logo {
  background: rgba(0,0,0,0.0); /* transparent */

}

#logo {
  max-width: 100%;
  max-height: 100%;
/*  border-bottom: 3px solid black;
*/}

/* set to table alignment to get the bastard vertically aligned */
#play-button {
  float: none;
  border-radius: 100%;
  box-shadow: 0px 0px 50px #fff;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 120px;
  margin-bottom: 20px;
  z-index: 10;
}

#play-button .pop-button {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#play-button #play-icon {
  text-align: center;
  text-decoration: none;
}

/*this style rule is to vertically center the play triangle within the button
 * the margin-top: -61px pushes it back towards the top by half of the height of the triangle.
 */
#play-icon {
  position: relative;
  top: 50%;
  margin-top: -61px;
}

.fa-play {
  padding-left: 15px;
}

#billboard {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  z-index: 10;
}

#messages {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'apercubold';
  letter-spacing: 0.05em;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  display: inline;
  margin: auto;
}

#blog-link{
  text-align: left;
  text-decoration: none;
  font-size: 34px;
    margin-left: -15px;
}

#playlist-link {
  text-align: left;
  text-decoration: none;
  font-size: 34px;
}

a:hover {
  text-decoration: none;
  color: white;
}
/* fix padding for the screen sizes, to get the buttons aligned */

/* small */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #playlist-link {
    margin-left: 30px;
  }
}
/* med */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #playlist-link {
    margin-left: 0px;
  }
  #on_air
  {
    font-size: 40px;
  }
}
/* lg */
@media only screen and (min-width: 1200px) {
  #playlist-link {
    margin-left: -30px;
  }
}


#social { 
  text-align: right;
}

/* css is stupid and won't let you consolidate text-decorations */
#social .facebook {
  text-decoration: none;
}

#social .instagram {
  text-decoration: none;
}

#social .twitter {
  text-decoration: none;
}

.pop-button {
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 8px 14px;
  display: inline-block; /* needed for anchors */
  position: relative;
}
.pop-button:hover {
  -webkit-transform: translate(-4px, -4px);
      -ms-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}
/* same as above */
.pop-button:focus {
  -webkit-transform: translate(-4px, -4px);
      -ms-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}

.pop-button:active {
  -webkit-transform: translate(-2px, -2px);
      -ms-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

@media only screen and (max-width: 500px) {

#on_air
{
  font-size: 20px;
}
#SHOW_TITLE, #DJ_NAME, #BLURB {font-size: 15px !important;}




.album_artwork
{
  width: 100px;
}

.slick-prev:before, .slick-next:before { font-size: 80px !important;}




}

/* Mobile only stuff */


@media only screen and (max-width: 767px){


  body {
    padding-top: 0px;
    margin-bottom: 20px;
  }

  .slick-dots
  {
    display: none !important;  
  }



  #dj_image img
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  #blurb
  {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }


  #billboard {
    font-size: 50px;
  }
  #blog-link {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 0px;
  }
  #playlist-link {
    text-align: center;
    padding-bottom: 10px;
  }
  #social{
    padding-bottom: 10px;
    text-align: center;
  }
  #social .facebook {
    margin-right: 0px;
  }
  #social .instagram {
    margin-left: 0px;
    margin-right : 0px;
  }
  #social .twitter {
    margin-left: 0px;
  }

  /* helper class, use to tag things that should be desktop-only */
  .desktop-only {
    display: none;
  }
}
