.center {
	text-align: center;
}

.circle-num {
	margin-top: 50px;
}

label {
	margin-top: 20px;
	font-weight: 400;
	font-size: 18px;
}

h1#header {
	font-size: 80px;
	text-align: center;
	margin-bottom: 50px;
}
