

.container {
	padding: 15px;
}

.schedule {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.schedule img {
	width: 100%;
}

h1 {
	text-align: center;
}

.schedule-button {
	margin: 10px;
}

#scheduleButtons {
	margin: 20px auto;
	text-align: center;
}

a:focus {
	color: white;
	text-decoration: none;
}

a {
	cursor: pointer;
}
