/**
  Radio Frontpage
**/

/*** Common Styling ***/

body {
  font-family: 'Titillium Web', sans-serif;
}

#main {
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

/* Trianglify */

.canvasCanvas {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.canvasContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.triangleCanvasContent {
  position: relative;
  height: 100%;
  width: 100%;
}

/*** Frontpage styling ***/

h1, h2, h3 {
  margin-top: 10px;
}

.frontWell {
  border: none;
  box-shadow: none;
  /* 0.6 opacity background */
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.frontPageNavbar {
  margin-bottom: 10px;
}

.collapsedNav {
  padding-top: 10px;
}

.frontPageNavbarItem > a {
  margin: 0px 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.frontPageNavbarItem.leftMost > a {
  margin: 0 5px 0 0;
}

.frontPageNavbarItem.rightMost > a {
  margin: 0 0 0 5px;
}

.frontPageNavbarItem.fullWidth > a {
  margin: 5px 0;
}

.frontPageNavbarItem.fullWidth.topMost > a {
  margin: 0 0 5px 0;
}

.frontPageNavbarItem > a:focus, .frontPageNavbarItem > a:hover {
  /*text-decoration: none;*/
  background-color: rgba(255, 255, 255, 0.9);
}

.streamBar {
  width: 100%;
  padding: 15px 25px;
  line-height: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
