/**
  Radio Frontpage
**/

/*** Common Styling ***/

body {
  font-family: 'Titillium Web', sans-serif;
}

#main {
  margin: 20px auto 50px auto;
}

a {
  color: black;
}

/* Trianglify */

.canvasCanvas {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.canvasContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.triangleCanvasContent {
  position: relative;
  height: 100%;
  width: 100%;
}

/*** Frontpage styling ***/

h1, h2, h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.frontWell {
  border: none;
  box-shadow: none;
  padding: 15px;
  /* 0.6 opacity background */
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-bottom: 15px;
}

.frontPageNavbar {
  margin-bottom: 10pt;
}

.frontPageNavbarItem.collapsed {
  padding-top: 10pt;
}

.frontPageNavbarItem > a {
  margin: 0pt 5pt;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.6);
}

.frontPageNavbarItem > a:focus, .frontPageNavbarItem > a:hover {
  /*text-decoration: none;*/
  background-color: rgba(255, 255, 255, 0.9);
}

.frontPageNavbarItem.leftMost > a {
  margin: 0 5pt 0 0;
}

.frontPageNavbarItem.rightMost > a {
  margin: 0 0 0 5pt;
}

.frontPageNavbarItem.fullWidth > a {
  margin: 5pt 0;
}

.frontPageNavbarItem.fullWidth.topMost > a {
  margin: 0 0 5pt 0;
}

.frontPageNavbarItem.expandToggle {
  max-width: 80px;
  min-width: 80px;
}

.frontPageNavbarItem.fullWidth.expandToggle {
  max-width: none;
  min-width: none;
}

/** Radio Info **/

.radioInfo .rectImage {
  margin: 0 auto 10px auto;
}

/** Live Show Info **/

.liveShowBanner {
  max-width: 280px;
  margin: 0 auto;
}

.showDetails {
  margin-top: 15px;
}

.showDetails .time, .liveShowInfo .djs, .liveShowInfo .blurb {
  color: #656565;
}

.showDetails .time, .liveShowInfo .djs {
  font-weight: bold;
}

.liveShowBanner .showDetails {
  text-align: left;
}

.showDetails .genre {
  float: right;
}

/** Stream Bar **/

.streamBar {
  width: 100%;
  line-height: 20pt;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
}

.playButton > .glyphicon {
  font-size: 20px;
  height: 20pt;
  vertical-align: middle;
}

.playText {
  padding-left: 10pt;
}

.playButton, .playText, .expandAction {
  cursor: pointer;
  height: 20pt;
}

/** Stream Bar Recently Played **/

.streamContent {
  padding: 10pt;
}

.recentlyPlayed {
  overflow: hidden;
}

.recentContent {
  display: block;
}

.expandAction {
  float: right;
}

.trackInfo {
  margin: 0 auto;
  padding-top: 10pt;
  text-align: center;
  width: 33%;
}

.trackInfo a, .trackInfo a:hover {
  text-decoration: none;
  color: white;
}

.trackImage {
  height: 64px;
  height: 64px;
  margin: 0 auto 5px auto;
}

.trackArtist a {
  color: #cacaca;
}

.trackName, .trackArtist {
  line-height: 20px;
}

.slick-slider {
  margin: 0 25px;
  position: relative;
  top: 0;
  bottom: 0;
}
