/**
  Radio Frontpage
**/

/*** Common Styling ***/

body {
  font-family: 'Titillium Web', sans-serif;
}

#main {
  margin: 20px auto;
}

/* Trianglify */

.canvasCanvas {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.canvasContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.triangleCanvasContent {
  position: relative;
  height: 100%;
  width: 100%;
}

/*** Frontpage styling ***/

h1, h2, h3 {
  margin-top: 10px;
}

.frontWell {
  border: none;
  box-shadow: none;
  /* 0.6 opacity background */
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.frontPageNavbar {
  margin-bottom: 10pt;
}

/*.collapsedNav {
  padding-top: 10px;
}
*/

.frontPageNavbarItem.collapsed {
  /*height: 50pt;*/
  padding-top: 10pt;
}

.frontPageNavbarItem > a {
  margin: 0pt 5pt;
  background-color: rgba(255, 255, 255, 0.6);
}

.frontPageNavbarItem > a:focus, .frontPageNavbarItem > a:hover {
  /*text-decoration: none;*/
  background-color: rgba(255, 255, 255, 0.9);
}

.frontPageNavbarItem.leftMost > a {
  margin: 0 5pt 0 0;
}

.frontPageNavbarItem.rightMost > a {
  margin: 0 0 0 5pt;
}

.frontPageNavbarItem.fullWidth > a {
  margin: 5pt 0;
}

.frontPageNavbarItem.fullWidth.topMost > a {
  margin: 0 0 5pt 0;
}

/** Stream Bar **/

.streamBar {
  width: 100%;
  padding: 10pt 25pt;
  line-height: 20pt;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.streamContent {
  display: table;
  width: 100%;
  padding: 10pt;
  font-size: 120%;
}

.streamContent > .streamElement {
  display: table-cell;
  vertical-align: middle;
}

.playToggle {
  cursor: pointer;
}

.playButton > .glyphicon {
  font-size: 20pt;
  vertical-align: middle;
}

.playText {
  padding-left: 10pt;
  vertical-align: middle;
}

/** Stream Bar Recently Played **/

.recentlyPlayed {
  width: 100%;
}

.expandAction {
  float: right;
  cursor: pointer;
}

.trackInfo {
  vertical-align: middle;
  display: inline-block;
  width: 33%;
  padding: 0 auto;
}

.trackInfo > a, .trackInfo > a:hover {
  text-decoration: none;
  color: white;
}

/* Sliding animation */

.collapsedStreamInfo-enter {
  transform: translate(-100%);
}

.collapsedStreamInfo-enter.collapsedStreamInfo-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.collapsedStreamInfo-leave {
  transform: translate(0%);
}

.collapsedStreamInfo-leave.collapsedStreamInfo-leave-active {
  transform: translate(100%);
  transition: transform 1000ms ease-in-out;
}

.expandedStreamInfo-enter {
  transform: translate(100%);
}

.expandedStreamInfo-enter.expandedStreamInfo-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.expandedStreamInfo-leave {
  transform: translate(0%);
}

.expandedStreamInfo-leave.expandedStreamInfo-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}
