#showOftheMonth
{
  color: black;
  text-shadow: -10px 10px 10px #fff, 10px -10px 10px #fff;
  width: ;

}

#showOftheMonth:hover {
  text-shadow: -10px 10px 10px #fff, 10px -10px 10px #fff;

}

#showOftheMonthlogo {
	-webkit-filter: drop-shadow( -5px -5px 5px #fff );
            filter: drop-shadow( -5px -5px 5px #fff );
           	margin-bottom: 20px;
           	margin-top: -20px;
           	margin-left: -20px;
           	margin-right: -20px;
           	color: blue;

}