/*OVERRIDES OVERRIDE THE JQUERY LIBRARY*/
#Questions {
	text-align: center;
	width: 100%;
	font-family: 'apercuregular';
	line-height:200%
}

#confirmMessage {
	font-size: 1em;
	padding-left: 2%;
	font-family: courier;
}


@media (max-width: 600px) {
	.ui-autocomplete li {
		font-size: 50%;
		/*width: 80%;*/

	}
	label {
		font-size: 1em !important;
	}
	#confirmMessage {
		font-size: 0.7em;
	}
	.stubInput {
		font-size: 0.7em;
	}

}

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);


#logo {
	padding-bottom: 10px;
}

#submitButton {
	background-color: black;
	color: white;
	letter-spacing: 5px;
}


.ui-widget-content {
	background: none !important;
}

.ui-autocomplete {
	font-family: 'apercuregular' !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
	color: white !important;


}


svg { 
  width:0.7em;
  height: 0.7em;
  border: 2px solid black;
  	-webkit-box-shadow:0 0 35px white; 
	-moz-box-shadow: 0 0 35px white; 
	box-shadow:0 0 35px white;

}

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1.2em;  
  text-align: center;
  font-family: 'apercu_lightregular';
  letter-spacing: 4px;
  color: #707070 ;
}

input[type="checkbox"] {
	display: none;
}

label svg path {
  transition: stroke-dashoffset .4s linear;
  height: 0.7em;

}
input[type="checkbox"]:checked ~ label svg path {
  stroke-dashoffset: 0;
}
input[type="checkbox"]:checked ~ label {
  color: black;
}

#IwonTheseTickets {
	background-color: blue;
}


ul {
	background-color: transparent !important;
}
.ui-autocomplete-input {
	/*background-color: white !important;*/
}

.ui-autocomplete li {
	background-color: black;
	color: white;
	border: 1px solid black;
	margin: 1% !important;
	text-align: center;
	border-radius: 50px !important;
	-webkit-box-shadow:0 0 25px white; 
	-moz-box-shadow: 0 0 25px white; 
	box-shadow:0 0 25px white;
    font-family: 'apercu_lightregular';



}

.stubInput {
	margin-left: 0 auto !important;
	margin-right: 0 auto !important;
	background-color: transparent;
	width: 100%;
	border: solid black 2px;
	border-radius: 50px;
	padding: 2%;
	font-family: 'apercuregular';
	text-align: center;
	-webkit-box-shadow:0 0 20px white; 
	-moz-box-shadow: 0 0 20px white; 
	box-shadow:0 0 20px white;
	/*margin: 1%;*/	
}

#submitButton {
	transition: -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s, box-shadow 0.5s;
}

#submitButton:hover {
	-webkit-box-shadow:0 0 0px white; 
	-moz-box-shadow: 0 0 0px white; 
	box-shadow:0 0 0px white;
	transition: -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s, box-shadow 0.5s;
}

textarea:focus, input:focus{
    outline: none;
    background-color: white;
}


input::-webkit-input-placeholder {
color: #707070 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #707070 	!important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #707070 	!important;  
}
 
input:-ms-input-placeholder {  
color: #707070 	!important;  
}