html {
  background-color: #f1f1f1;
  color: #3a3a3a;
}

body {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  max-width: 60em;
  font-family: 'Droid Sans', 'Helvetica', sans-serif;
}

h1 {
  font-family: 'Racing Sans One', sans-serif;
}

#container {
  position: relative;
}

@-webkit-keyframes slide {
  0% {
    margin-top: 1%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-delayed {
  0% {
    margin-top: 1%;
    opacity: 0;
  }
  50% {
    margin-top: 1%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#pledge-drive-banner {
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-animation: slide 1.0s ease-in-out;
}

#hidden-hover {
  position: absolute;
  width: 94%;
  margin-left: 3%;
  height: 30%;
  margin-top: 35%;
  background-color: transparent;
}

.box {
  text-align: center;
  font-size: 3em;
  -webkit-animation: slide-delayed 1.0s ease-in-out;
}

#donate-button {
  max-width: 90%;
  width: auto;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

@media (max-width: 1080px) {
	#pledge-vid
	{
		width: 100%;
	}
}

