body {
	font-family: 'apercuregular';
}

#Month {
	font-size: 75px;
	text-align: center;
	left: 0;
	letter-spacing: 10px;
	width: 100%;
}

@media (max-width: 750px) {
	#Month
	{
		font-size: 50px;
	}
}

ul {
	padding-left:0;
}

hr {
	background-color: black;
	border-color: black;
}

ul #Month {
	list-style-type: none;
	padding-left:0;
	padding-right:0; 
	margin-right:0
	margin-left:0;
}

#events {
	text-align: center;
	padding-left:0;
	margin-left:0;
	padding-bottom: 50px;
}

#events li {
	font-family:'apercuregular';
	list-style-type: none;
	display: inline-block;
	border: 1px solid black;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: .5%;
	margin-bottom: .5%;
	font-size: 25px;
	border-radius: 2em;
}

.Venue {
	visibility: hidden;
	position: absolute;
	padding-top: 15px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	font-size: 20px;
	letter-spacing: -1px;
	color: white;




}

.Artist {
	/*display: none;*/
	padding:0;
	margin-top:0;
	margin-bottom:0;
	left:0;
	right:0;
	letter-spacing: 2px;

}

ul #events li {
	/*background-color: blue;*/
	padding: 10px;
	position: relative;
	transition: background-color .3s;

}

ul #events li:hover {
	background-color: black;
	transition: background-color .3s;
}

ul #events li:hover .Venue{
	visibility: visible;
}

ul #events li:hover .Artist{
	visibility: hidden;
}