.wf-container {
    margin: 0 auto;   
    margin-right: -.5em;
    margin-left: -.5em;
}

.wf-container a:hover {
    text-decoration: none;
}
.wf-container a:active {
    text-decoration: underline;
}

.wf-container a:visited {
    text-decoration: none;
}

.wf-container:before,.wf-container:after {
    content: '';
    display: table;
}
.wf-container:after {
    clear: both;
}
.wf-box {
	padding:  .5rem;
    /*margin: 2%;*/
    /*padding: 2%;*/
}
.wf-box img { 
    display: block;
    width: 100%;
}
.wf-box .content {
    border: 1px solid #ccc;
    border-top-width: 0;
    padding: 5px 8px;
}
.wf-column {
    float: left;
}

.wf-box-content {
	position:relative;
	display: block;
	background-color: rgba(255, 255, 255, 0.75);
}

.wf-box-content:hover {
	background-color: white;
}

.wf-box-content img {
	width: 100%;
}

.wf-box-content-blog {
	padding: 5%;
	font-size: 200%;
}

.wf-box-content-text {
	padding: 5%;
}

.wf-box-content-text-date {
    overflow: hidden;
    text-align: center;
}
.wf-box-content-text-date:before,
.wf-box-content-text-date:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.wf-box-content-text-date:before {
    right: 0.5em;
    margin-left: -50%;
}
.wf-box-content-text-date:after {
    left: 0.5em;
    margin-right: -50%;
}