/** panel.css
 *  styling for dj panel pages
 */


/** Body **/

body {
	background-color: #e9eaed;
  font-family: 'Lato', sans-serif;
}

.container {
  	max-width: 970px;
}

#container.container {
	margin: 20px auto;
}

.well {
	background-color: white;
}

.container h2, .container h3 {
  text-align: center;
	margin-top: 0px;
}

.panel-heading {
  font-weight: bold;
}

#container a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

small {
  padding-left: 15px;
  padding-right: 15px;
}

/** Navbar **/

#navbarLogout a {
  color: #f0657f;
}

#navbarLogout a:hover {
  color: #db405d;
}

.navbar .container {
  max-width: 100%;
}

.navbarSelected {
  color: black;
}

/** ActionTable **/

.actionTable .table {
  margin-bottom: 0px;
}

.actionTable .table td {
  vertical-align: middle;
}

.action-td {
  text-align: right;
}

.table-action1 {
  color: #66f266;
  font-weight: bold;
}

.table-action1:hover {
  color: #5cb85c;
}

.table-action2 {
  color: #f0657f;
  font-weight: bold;
}

.table-action2:hover {
  color: #db405d;
}

.actionGlyph {
  color: #f0ad4e;
}
/*
.actionButton .btn-group-vertical .btn-link {
  padding-top: 3px;
  padding-bottom: 3px;
}*/

/** InputEditableTextField **/

.cancelLink {
  color: #f0657f;
}

.cancelLink:hover {
  color: #db405d;
}

.inputEditWrapper .input-group-addon {
  background-color: transparent;
  border: none;
}

.inputEditableTextField .control-label {
  color: #777;
}

.inputEditableTextField .placeholder {
  color: #b2b2b2;
}

.inputEditableTextField .form-group {
  margin-bottom: 5px;
}

.inputEditableTextField .verifiedGlyph {
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: top;
  color: #5cb85c;
}

.inputEditWrapper {
  vertical-align: middle;
}

/* Multiline Text Field */

/*#content {
	margin: 0px 20px;
}*/