@import "../common";

$image-height: 250px;

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-wrapper {
  font-size: 20px;
  background-color: white;
  max-width: 270px;
  margin: 5px;
  margin-left: none;
}

.image-container {
  width: 100%;
  height: $image-height;
  overflow: hidden;
}

.post-image {
  opacity: 0.8;
  width: 100%;
  min-height: $image-height;
}

.text-container {
  padding: 10px;
  letter-spacing: 0.03em;
}

.post-wrapper:hover {
  .post-image {
    opacity: 1;
  }
}

.subheading {
  color: #65645a;
  font-size: 11pt;
}

.title {
  margin: 15px 0;
  font-size: 15pt;
}

.credits {
  font-size: 11pt;
}

.equalWidth div {
  display: inline-block;
  width: 60pt;
}

.blogPageNavbarItem {
  color: black !important;
  font-size: 12pt;
  margin: 0pt 5pt;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.6);
}

.blogNavbar {
  display: flex;
  justify-content: space-between;
}

.blogNavbar > div {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background: $link-color;
  flex-direction: column;
}

.blogNavbar > div:hover {
  background: $link-hover-color;
}

.blogNavbar > div + div {
  margin-left: 12pt;
  align-self: flex-start;
}

.blogNavbar .blogSearchBar,
.blogNavbar .blogSearchBar:hover {
  background: none;
}

.blogSearchBar input,
.blogSearchBar input:focus {
  background: none;
  border-radius: 0;
  border-width: 0px 0px 1px 0px;
  border-color: gray;
  outline: none;
}

.pagination-btn {
  border: none;
  padding: 5px;
}

.pagination-wrapper input {
  width: 50px;
  border: none;
}

.pagination-wrapper input:focus {
  border: none;
  outline: none;
}
