@import "../common";

.blogPostContainer {
  background: rgba(255, 255, 255, 0.6);
  padding: 10pt;
  overflow: scroll;
  height: 70vh;
}

.subheading {
  color: rgb(101, 100, 90);
}

.content {
  font-size: 17px;
  line-height: 1.7;
}

.content > img {
  opacity: 1;
  height: auto;
}

.content .tmblr-full img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.coverImageContainer {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.coverImage {
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  opacity: 1;
  width: 100%;
  height: auto;
}

// .coverImage img {
//   opacity: 1;
//   width: 100%;
//   height: 100%;
// }
