@import "../common";

.blogPostContainer {
  background: rgba(255, 255, 255, 0.6);
  padding: 10pt;
}

.subheading {
  color: rgb(101, 100, 90);
}

.content {
  font-size: 17px;
  line-height: 1.7;
  margin: 10px 0;
}

// Override Keystone Formatting
.content * {
  background-color: transparent !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.content > img,
.content-img {
  opacity: 1;
  height: auto;
  width: 100%;
}

.content .tmblr-full img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.coverImageContainer {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.coverImage {
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  opacity: 1;
  width: 100%;
  height: auto;
}

.blogPostContainer .subheading,
.blogPostContainer .credits {
  font-size: 13pt;
}
