.discoFeatures {
  position: fixed;
  bottom: 52px;
  width: 80%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  pointer-events: none;

  z-index: 1;
}

.discoFeatures img {
  max-height: 250px;
  margin: 0 25px;
  cursor: pointer;
  pointer-events: all;
}

@media (max-width: 550px) {
  .discoFeatures img {
    max-height: 80px;
    margin: 0;
  }
}
