// FilterBar
@import "../common";

.dropbtn {
  // background-color: $link-color;
  color: black;
  // padding: 16px;
  font-size: 16px;
  border: none;
  height: 38px;
}

.dropbtn:focus {
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  // display: none;
  list-style-type: none;
  z-index: 1;
  // height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: height 400ms linear;
  border-top: 1px solid gray;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  // background-color: $link-hover-color;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  // height: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  // background-color: $link-hover-color;
}

.dropdown input {
  padding: 5px;
}

.blogPageNavbarItem > li > a:hover {
  background: none;
}

button {
  background: none;
}

.dropdown-content div {
  width: auto;
}
