$grey: #c5c5c5;

.pagination-wrapper {
  font-size: 18px;
  display: flex;
  justify-content: center;

  input {
    margin: 15px;
    width: 75px;
    text-align: center;
    &:focus {
      outline: 0;
    }
  }
}
.pagination-btn {
  padding: 5px;
  border: none;
  cursor: pointer;

  &.btn-disabled {
    opacity: 0.4;
  }

  &:focus {
    outline: 0;
  }
}
