/**
ShowsContent.scss

Sass styling for show blocks on shows page grid
**/

.showBlock {
  opacity: 0.5;
  height: 70px;
  width: 90px;
  padding-right: 5px;
  display: inline-block;
  position: relative;
}

.boringBlockStyle {
  height: 100%;
  width: 100%;
  background-color: white;
  display: inline-block;
  position: relative;
}

.blockStyle {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.45);
}
