/**
StreamMarquee.scss

Sass styling for frong page marquee component
**/

.marquee-container {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 5;
}

.marquee {
  position: relative;
  z-index: 6;
  margin-left: 150px;
  margin-right: 150px;
  height: 100%;
  width: calc(100% - 250px - 150px);
  width: -moz-calc(100% - 250px - 150px); /* firefox */
  width: -webkit-calc(100% - 250px - 150px); /* safari */
  overflow: hidden;
}

.marquee p {
  width: 100%;
  height: 100%;
  color: white !important;
  line-height: 35pt;
  font-size: 10pt;
  position: absolute;
  text-align: center;

  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
  -moz-animation: marquee 20s linear infinite; /* firefox */
  -webkit-animation: marquee 20s linear infinite; /* safari */
}

@keyframes marquee {
  0% { transform: translate(-100%, 0); }
  100% { transform: translate(100%, 0); }
}

/* firefox */
@-moz-keyframes marquee {
  0% { -moz-transform: translate(-100%, 0); }
  100% { -moz-transform: translate(100%, 0); }
}

/* safari */
@-webkit-keyframes marquee {
  0% { -webkit-transform: translate(-100%, 0); }
  100% { -webkit-transform: translate(100%, 0); }
}

/* larger tablets */
@media (min-width: 780px) and (max-width: 1024px) {
  .marquee {
    margin-left: 150px;
    margin-right: 130px;
    width: calc(100% - 200px - 130px);
    width: -moz-calc(100% - 200px - 130px);
    width: -webkit-calc(100% - 200px - 130px);
  }
}

/* tablets */
@media (min-width: 430px) and (max-width: 768px) {
  .marquee {
    margin-left: 160px;
    margin-right: 115px;
    width: calc(100% - 160px - 140px);
    width: -moz-calc(100% - 160px - 140px);
    width: -webkit-calc(100% - 160px - 140px);
  }

  .marquee p {
    animation: marquee 15s linear infinite;
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
  }
}

/* mobile */
@media (max-width: 425px) {
  .marquee {
    margin-left: 150px;
    margin-right: 100px;
    width: calc(100% - 160px - 100px);
    width: -moz-calc(100% - 160px - 100px);
    width: -webkit-calc(100% - 160px - 100px);
  }

  .marquee p {
    animation: marquee 5s linear infinite;
    -moz-animation: marquee 5s linear infinite;
    -webkit-animation: marquee 5s linear infinite;
  }
}
