.countdown {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.timeBlock {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

.timeValue {
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.timeLabel {
  padding-top: 5px;
  font-size: 16px;
}