/**
EventsTab.scss

Sass styling for events tab of new frontpage
**/

@import '../common';

// constants
$event-width: 200px;
$event-margin: 5px;
$overlay-opacity: 0.85;
$overlay-duration: 0.85s;
$sans-serif-font: Helvetica, sans-serif;
$serif-font: Georgia, serif;

// fadein animations
@keyframes lightfadein { @include fade-animation(0, $overlay-opacity) } 
@-moz-keyframes lightfadein { @include fade-animation(0, $overlay-opacity) } /* Firefox < 16 */
@-webkit-keyframes lightfadein { @include fade-animation(0, $overlay-opacity) } /* Safari, Chrome and Opera > 12.1 */
@-ms-keyframes lightfadein { @include fade-animation(0, $overlay-opacity) } /* Internet Explorer */
@-o-keyframes lightfadein { @include fade-animation(0, $overlay-opacity) } /* Opera < 12.1 */

// fadeout animations
@keyframes lightfadeout { @include fade-animation($overlay-opacity, 0) } 
@-moz-keyframes lightfadeout { @include fade-animation($overlay-opacity, 0) } /* Firefox < 16 */
@-webkit-keyframes lightfadeout { @include fade-animation($overlay-opacity, 0) } /* Safari, Chrome and Opera > 12.1 */
@-ms-keyframes lightfadeout { @include fade-animation($overlay-opacity, 0) } /* Internet Explorer */
@-o-keyframes lightfadeout { @include fade-animation($overlay-opacity, 0) } /* Opera < 12.1 */


.eventsTab {
	margin-top: 2*$box-padding;
	text-align: center;
}

.monthEvents {
	overflow: auto;
	clear: both;
	margin: 0 auto;
}

.allEvents {
	font-size: 0;
}

@media screen and (min-width: 48em) {
	.allEvents {
		text-align: left;
	}
}

.event {
	display: inline-block;
	height: $event-width;
	width: $event-width;
	margin: $event-margin;
	// font-family: $sans-serif-font;
	color: white;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.venue {
	font-size: 14px;
}

.enterLabel {
	color: black;
	text-align: right;
	font-size: 14px;
	font-style: italic;
	position: absolute;
	bottom: 0px;
	right: $event-margin;
	margin-bottom: 0px;
}

.separator {
	font-size: 18px;
	font-family: $serif-font;
	line-height: 10px;
}

.eventOverlay {
	position: absolute;
	top: 30%;
	left: 12.5%;
	width: 150px;
}

.eventDate {
	font-size: 160px;
	line-height: $event-width;
	font-weight: bold;
	opacity: 0.35;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.bandName {
	font-size: 18px;
	font-family: $serif-font;
	font-style: italic;
	margin-bottom: 0
}

.hoverOverlay {
	width: 100%;
	opacity: 0;
}

.hoverOverlay:hover {
	opacity: $overlay-opacity;
}

.overlayWrapper {
	width: 100%;
}

.overlayWrapper .overlay {
	height: 100%;
	width: 100%;
	background-color: grey;
	opacity: $overlay-opacity;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
    -webkit-animation: lightfadein $overlay-duration; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: lightfadein $overlay-duration; /* Firefox < 16 */
        -ms-animation: lightfadein $overlay-duration; /* Internet Explorer */
         -o-animation: lightfadein $overlay-duration; /* Opera < 12.1 */
            animation: lightfadein $overlay-duration;
}
		
.overlayWrapper:hover .overlay {
	opacity: 0;
    -webkit-animation: lightfadeout $overlay-duration; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: lightfadeout $overlay-duration; /* Firefox < 16 */
        -ms-animation: lightfadeout $overlay-duration; /* Internet Explorer */
         -o-animation: lightfadeout $overlay-duration; /* Opera < 12.1 */
            animation: lightfadeout $overlay-duration;
}

.overlayWrapper .hoverOverlay {
	height: 20px;
	width: 100%;
	background-color: white;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline;
}

.overlayWrapper:hover .hoverOverlay {
	opacity: $overlay-opacity;
}

.colorKeyLabel {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	font-size: 16px;
}

.dot {
	background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
