/**
ShowPage.scss

Sass styling for individual show's page in new frontpage
**/

.showPage {
  margin: 10pt 0;
  padding: 10pt 20pt;
}

$image-width: 30%;
.showPage .rectImage {
  margin: 0 !important;
  display: inline-block;
  vertical-align: top;
  width: $image-width;
}

.showPage .showInfo {
  display: inline-block;
  width: 100% - $image-width;
  padding: 10pt 20pt;
}
