
/*.colorKey{
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}*/

.header {
	font-size: 15px;
	font-weight: lighter;
}

.djs {
	font-size: 15px;
	font-style: italic;
}

.showTitle {
	font-size: 20px;
	font-weight: lighter;
}

.blurb {
	font-size: 12px;
	font-weight: lighter;
}
/*
.colorKeyLabel{
	display: inline-block;
	position: relative;
	margin-right: 20px;
}*/

/*.colorKeyLabel p{
	display: inline;
	font-size: 12pt;
}*/

.dot {
	background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.Headline h1{
	display: inline;
	font-size: 50pt;
}

.Headline {
	padding-top: 15px;
	padding-bottom: 15px;
}

.chart-container {
	display: block;
	margin: 0;
	padding-top: 15px;
}

.day {
	display: inline-block;
	position: relative;
	width: 8%;
}

.day h1 {
	display: inline;
	font-size: 15pt;
}

.showBlock {
	opacity: 0.5;
	height: 20px;
	padding-right: 5px;
	display: inline-block;
	position: relative;
}
