.marquee {
  color: white !important;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 60vw;
  z-index: 10;
  line-height: 35pt;
  font-size: 10pt;
  margin-left: 20%;

  animation: marquee 10s linear infinite;
  overflow: hidden !important;
  white-space: nowrap;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(90%, 0); }
}