.marquee {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 65%;
  z-index: 5;
  margin-left: 20%;
  overflow: hidden;
}

.marquee p {
  width: 100%;
  height: 100%;
  color: white !important;
  line-height: 35pt;
  font-size: 10pt;
  position: absolute;

  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 10s linear infinite;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(100%, 0); }
}

@-moz-keyframes marquee {
  0% { -moz-transform: translate(0, 0); }
  100% { -moz-transform: translate(100%, 0); }
}

@-webkit-keyframes marquee {
  0% { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(100%, 0); }
}