/**
StreamIssuesPage.scss
Sass styling for stream issues page
**/

.streamIssues {
	margin: 10pt 0;
	padding: 10pt 20pt;
	text-align: center;
}

.streamIssues a {
	text-decoration: underline;
}

.streamFAQ {
	text-align: left;
	line-height: 20pt;
}
