@import '../common';

// TABS STYLING

.tracksHeader {
    position: relative;
    font-weight: 30px;
}

.tabs-navigation {
  margin: 1%;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  padding-right: 40px;
  border-bottom: 0;
}

.tab-panel {
    text-align: center;
}

input, button, submit {
    border: none;
    background: none;
    font-size: 1em;
}

// ALBUM ITEM STYLING

$album-width: 200px;
$album-margin: 5pt;
$overlay-opacity: 0.85;
$overlay-duration: 0.25s;
$sans-serif-font: Helvetica, sans-serif;
$serif-font: Georgia, serif;


.albumItem{
    display: inline-block;
    height: $album-width;
    width: $album-width;
    margin: $album-margin;
    text-align: center;
    position: relative;
}

.albumName, .albumSpace, .albumArtist {
    font-size: 16px;
    font-family: $serif-font;
    font-style: italic;
    margin-bottom: 0;
    color: white;
    text-align: center;
    position: relative;
}

.albumText {
    padding: 17%;
}

.albumReview{
    color: white;
	text-align: right;
	font-size: 14px;
	font-style: italic;
	position: absolute;
	bottom: 0px;
	right: $album-margin;
	margin-bottom: 10%;
    margin-right: 10%;
}


a.albumReview {
    color: white !important;
    text-decoration: none;
    bottom: 0;
    right: 0;
}

.albumImage {
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    height: 100%;
	width: 100%;
	opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
}

.overlay:hover {
	opacity: $overlay-opacity;
}
