/**
 * elrond.css
 * Styling for Elrond - Rivendell Master Library Viewer
 */

.table {
  border: 1px solid #AAA;
  backgournd-color: blue;
}

.reactable-data {
  background-color: #FFF;
}

.reactable-column-header {
  background-color: #4caf50;
  color: #FFF;
  text-transform: uppercase;
}

.reactable-pagination {
  text-align: center;
  background-color: #f1efef;
}
.reactable-page-button, .reactable-next-page, .reactable-previous-page {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 5px;
  width: 30px;
  cursor: pointer;
  color: #000;
  border: 1px solid #AAA;
  background-color: #FFF;
  text-align: center;
  border-radius: 5px;
}

.reactable-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-filterer {
  background-color: #f1efef;
}
.reactable-filter-input {
  width: 95%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 5px;
}


