/**
frontpage.scss

Sass styling for new frontpage
**/

@import "common";

body {
  font-family: "apercuregular";
  font-size: 11pt;
  color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  margin: 20pt auto 175px;
}

a {
  // color: black !important;
  // swap back after pledge drive!
  color: #ffffff;
}

// Frontpage styling

h1,
h2,
h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.frontpageCol {
  padding-left: $box-padding;
  padding-right: $box-padding;
}

// Radio Info

.radioBanner {
  margin-bottom: 4*$box-padding;
}

// .radioBanner > .rectImage only for pledge drive
.radioBanner > .rectImage {
  background-color: rgba(240, 240, 240, 0.7);
}

// .active > .radioBanner > .rectImage {
//   background-color: rgba(white, 0.35);
// }

.radioBanner > .rectImage:hover,
.radioBanner > .rectImage:focus {
  background-color: rgba(white, 0.5);
}

.radioInfo {
  margin: 2*$box-padding 0;
  padding: 0 10pt;
}
