/** Stream Bar Recently Played **/

.streamContent {
  padding: 10pt;
}

.recentlyPlayed {
  overflow: hidden;
}

.recentContent {
  display: block;
}

.expandAction {
  float: right;
}

.trackInfo {
  margin: 0 auto;
  padding-top: 10pt;
  text-align: center;
  width: 33%;
}

.trackInfo a,
.trackInfo a:hover {
  text-decoration: none;
  color: white !important;
}

.trackImage {
  height: 64px;
  margin: 0 auto 5px;
}

.trackArtist a {
  color: #cacaca !important;
}

.trackName,
.trackArtist {
  line-height: 20px;
}

.slick-slider {
  margin: 0 25px;
  position: relative;
  top: 0;
  bottom: 0;
}

#nowPlaying .albumArt {
  background-size: 50% 100%;
  animation: example infinite;
  background-image: url("http://i1064.photobucket.com/albums/u364/Regan_Hsu/currentSong_zpsxvmayuag.gif");
}
