doctype html(lang='en')
head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='UCLA Radio')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    title UCLA Radio
    // material design requires
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    // font awesome
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    // other fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:300italic', rel='stylesheet', type='text/css')

    link(href='https://fonts.googleapis.com/css?family=Merriweather:300', rel='stylesheet', type='text/css')
    // trianglify, for background stuff
    script(src='https://d3js.org/d3.v3.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.4/trianglify.min.js')
    // Our stylesheets/scripts
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/pages.css')

    link(rel='icon', href='favicon.ico', type='image/x-icon')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-21406547-20', 'auto');
      ga('send', 'pageview');

  body

    .container(role='main')
      a(href='/')
        img#logo(src='img/logo.png', alt='UCLA RADIO')

      #submissionStatus
        h1= status

      //- .row
        //- .col-md-4
        //-   .mdl-card.mdl-shadow--2dp.demo-card-wide
        //-     .mdl-card__title.staffing-points
        //-       h2.mdl-card__title-text.black Staffing Points Form
        //-     .mdl-card__supporting-text
        //-       | Submit all your last minute points here.
        //-     .mdl-card__actions.mdl-card--border
        //-       a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='/staffingPoints')
        //-         | Go

        //- .col-md-4
        //-   .mdl-card.mdl-shadow--2dp.demo-card-wide
        //-     .mdl-card__title.total-points
        //-       h2.mdl-card__title-text Staffing Points Totals
        //-     .mdl-card__supporting-text
        //-       | Double check that you still need 17 staffing points before tomorrow.
        //-     .mdl-card__actions.mdl-card--border
        //-       a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='/staffingPoints/view')
        //-         | Go

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.general-manager
              h2.mdl-card__title-text Department Information
            .mdl-card__supporting-text
              | Department-curious? Check out meeting times and managers' contacts.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/document/d/10iFEGQwqe4C3-urEdeMq2OIviaNt4HQa7YdSIrNYW2A')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.concert-press
              h2.mdl-card__title-text Tickets & Press Request Form
            .mdl-card__supporting-text
              | Want to go to a show for free? Fill this out.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://bit.ly/1y1gPtt')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.substitution
              h2.mdl-card__title-text Sub Request Form
            .mdl-card__supporting-text
              | Feeling under the weather? Fill this out to get a sub for your show.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/a/media.ucla.edu/forms/d/1RIsCMDctvl-DnqazVD-mo_uQo20pYTvvdBsuG1-VcMk/edit')
                | Go

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.spreadsheet
              h2.mdl-card__title-text Sub Request Spreadsheet
            .mdl-card__supporting-text
              | Check if someone already filled the sub request you wanted.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/spreadsheets/d/12XB7qI4nu6cxkJxPdeRUxX8l02tiFP7RRBD8KL0sdMo/edit#gid=1957703138')
                | Go

   
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.panel
              h2.mdl-card__title-text Secret DJ Panel
            .mdl-card__supporting-text
              | Enter your show and DJ info
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='/panel')
                | Go
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.confetti
              h2.mdl-card__title-text Event Registration Form
            .mdl-card__supporting-text
              | Submit your event proposals here!
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://goo.gl/forms/sO5y56ZgVibbNzFM2')
                | Go
      .row
        //- .col-md-4
        //-   .mdl-card.mdl-shadow--2dp.demo-card-wide
        //-     .mdl-card__title.calendar
        //-       h2.mdl-card__title-text UCLA Radio Internal Calendar
        //-     .mdl-card__supporting-text
        //-       | See when our stuff is happening.
        //-     .mdl-card__actions.mdl-card--border
        //-       a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='calendar')
        //-         | Go


        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.suggestion-box
              h2.mdl-card__title-text Board of Directors Agenda Suggestion
            .mdl-card__supporting-text
              | Suggest a topic for Board of Directors' meetings!
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://goo.gl/forms/hnyDg91zlmy4qyEl1')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.bylaws
              h2.mdl-card__title-text Station Bylaws
            .mdl-card__supporting-text
              | Read the UCLA Radio bylaws.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='/files/Bylaws_3_25_2018.pdf')
                | Download

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.transcript
              h2.mdl-card__title-text Transcript Requests
            .mdl-card__supporting-text
              | You did a cool interview? Have it posted to the blog by filling out this form.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/forms/d/1umU1Kpw1x_EBQHM45ESqfp2C04gVKin4pUySg3M9GYw/viewform')
                | Go
              
      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.interview-signups
              h2.mdl-card__title-text Show Interview Sign-Ups
            .mdl-card__supporting-text
              | See which interview slots applicants signed up for.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://www.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2F1qjBYMBc5f_uPqEvtmtm2w4PAeRLabQJV-Hp4nHPoekQ%2Fedit%3Fusp%3Dsharing&h=4AQFnRMKT')
                | Go
      
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.faq
              h2.mdl-card__title-text Radio FAQs
            .mdl-card__supporting-text
              | Confused? Click the link.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/document/d/1oE4CtTT6E8eVXEIMNn3gx6Xl_PsEQxn1PmwcwenH0fs/edit')
                | Go

      
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.show-graphics
              h2.mdl-card__title-text A&D Show Graphics Request Form
            .mdl-card__supporting-text
              | Get a sick graphic for your show.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://www.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fa%2Fmedia.ucla.edu%2Fforms%2Fd%2F1JVwlF6H1WrckGB9j4-N4q9El8Rof6UGB4ma9xe4_wic%2Fviewform&h=4AQFnRMKT')
                | Go

      //-   .col-md-4
      //-     .mdl-card.mdl-shadow--2dp.demo-card-wide
      //-       .mdl-card__title.nmfs
      //-         h2.mdl-card__title-text NMFs
      //-       .mdl-card__supporting-text
      //-         | Submit your NMF list.
      //-       .mdl-card__actions.mdl-card--border
      //-         a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/forms/d/1umU1Kpw1x_EBQHM45ESqfp2C04gVKin4pUySg3M9GYw/viewform')
      //-           | Go
      //- .row
      //-   .col-md-4
      //-     .mdl-card.mdl-shadow--2dp.demo-card-wide
      //-       .mdl-card__title.nmfs
      //-         h2.mdl-card__title-text NMF Accountability
      //-       .mdl-card__supporting-text
      //-         | See how many NMF's you've submitted.
      //-       .mdl-card__actions.mdl-card--border
      //-         a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/spreadsheets/d/1GWn-s3h0jbUz0WwokUUDLp8gN_DY-gpUss1jTUNj4ms/edit#gid=0')
      //-           | Go

      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.winnerinfo
              h2.mdl-card__title-text Giveaway Winner Form
            .mdl-card__supporting-text
              | Submit a giveaway winner's information.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://goo.gl/forms/HXIEFSTkPa')
                | Go

        //.col-md-4
        //  .mdl-card.mdl-shadow--2dp.demo-card-wide
        //    .mdl-card__title.faq
        //      h2.mdl-card__title-text Rivendell FAQ
        //    .mdl-card__supporting-text
        //      | Learn more about Rivendell.
        //    .mdl-card__actions.mdl-card--border
        //      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/document/d/1lZ3vgaBuEDOq7tCbK7Y9UPRifv2xx_Yw5oclaFVmefc/edit?usp=sharing')
        //        | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.archive
              h2.mdl-card__title-text Archive
            .mdl-card__supporting-text
              | Recorded shows. Let's hear that one again!
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://drive.google.com/drive/folders/18oEdRJuZh6x56rVwEokVdAjpof8SLPue?usp=sharing')
                | Go
  
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.faq
              h2.mdl-card__title-text Radio FAQs
            .mdl-card__supporting-text
              | Confused? Click the link.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/document/d/1oE4CtTT6E8eVXEIMNn3gx6Xl_PsEQxn1PmwcwenH0fs/edit')
                | Go
                
      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.consent-and-release
              h2.mdl-card__title-text Consent and Release Form
            .mdl-card__supporting-text
              | Fill this out to be in one of our cool videos.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/a/media.ucla.edu/document/d/1F1rk0aif7x3KooQBsm3aBW0Vj03obQJJ3ZhOBVEZJCE/edit?usp=sharing')
                | Go
      
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.no-no
              h2.mdl-card__title-text No-Play Requests
            .mdl-card__supporting-text
              | Submit an artist to the No-Play List
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSeQkJnZJY1R5rDs3LcYiZJnPh97lIpOP9bxG0hBIRAtHsJG5g/viewform')
                | Go                                                                                     
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.no-no
              h2.mdl-card__title-text No-Play List
            .mdl-card__supporting-text
              | Check here for artists that uclaradio doesn't support and why!
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/spreadsheets/d/1lIF_u39lF6PRMIbl2z2T5X6e4X0DCqlDsHTrw_bfk2w/edit?usp=sharing')
                | Go
      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.socials
              h2.mdl-card__title-text Social Media Requests
            .mdl-card__supporting-text
              | Get your cool content talked about on air and on our socials
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSc_RVfsYi7XNhLcoNTAQmYvsZM2CpNCP8iSmKIDuU2M0UvNfQ/viewform')
                | Go
      
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.productions-room
              h2.mdl-card__title-text Productions Room Booking Request Info
            .mdl-card__supporting-text
              | How to book the productions room
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='/files/Booking_Requests_Info.pdf')
                | Download

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.rivendell-library
              h2.mdl-card__title-text Rivendell Master List
            .mdl-card__supporting-text
              | Check out our available music library
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/spreadsheets/d/1fP6MoxCoc7V8vC79QJbmYJmOlivGPC3-VWfTAGETqhU/edit#gid=0')
                | Go
      .row
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.show-nominations
              h2.mdl-card__title-text Spotlight Nominations
            .mdl-card__supporting-text
              | Suggest your favorite show!
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfcExP7v2y7NpE6Pgwsp1Kcp6oHv6zJ5Nwz2aE9k8yYIhkBhQ/viewform')
                | Nominate
      
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.in-station
              h2.mdl-card__title-text In-Studio Request Form Spreadsheet
            .mdl-card__supporting-text
              | Check and make sure you applied to have an artist come in to the station and perform.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/spreadsheets/d/1ocKAxJYN-x9aqvdKvjw305g5vqXY5cktBtceO2ovwwA/edit?usp=sharing')
                | Go

        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.in-station
              h2.mdl-card__title-text In-Studio Request Form
            .mdl-card__supporting-text
              | Fill this out if you want to have an artist come in to the station and perform.
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://bit.ly/1nZXeZh')
                | Go
      .row  
        .col-md-4
          .mdl-card.mdl-shadow--2dp.demo-card-wide
            .mdl-card__title.DJ-profile
              h2.mdl-card__title-text DJ Profile Request Form
            .mdl-card__supporting-text
              | Get featured on our Instagram's DJ Profile series!
            .mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfTSk75a5eZJkZuzQEBL6tYEpu5I-NNSw5HZ42Pv3jXnP4R4w/viewform')
                | Go

