doctype html
html
	head
		title Node.js Login
		link(rel='stylesheet', href='/panel/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/panel/css/style.css')
	body

	block content
	block scripts