doctype html
html
	head
		title DJ Panel Login
		link(rel='stylesheet', href='/panel/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/panel/css/style_old.css')
	body

	block content
	block scripts