.podcastContainer {
  text-align: center;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
}

.searchBar {
}

.PlaylistContainer {
  background-color: rgba(255, 255, 255, 0.6);
}

.player {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
}
