/**
EventsTab.scss

Sass styling for events tab of new frontpage
**/

@import 'common';


body {
  font-family: 'apercuregular';
  font-size: 11pt;
}

#main {
  margin: 20pt auto 175px auto;
}

a {
  color: black;
}

// Frontpage styling

h1, h2, h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

// .frontWell {
//   border: none;
//   box-shadow: none;
//   padding: 15px;
//   /* 0.6 opacity background */
//   background-color: rgba(255, 255, 255, 0.5);
//   text-align: center;
//   margin-bottom: 15px;
// }

.frontpageCol {
  padding-left: $box-padding;
  padding-right: $box-padding;
}

// Radio Info

.active > .radioBanner > .rectImage {
  background-color: rgba(255, 255, 255, 0.20);
}

.radioBanner > .rectImage:hover, .radioBanner > .rectImage:focus {
  background-color: rgba(255, 255, 255, 0.35);
}

.radioInfo {
  margin: 2*$box-padding 0;
  padding: 0 10pt;
}

// Banner

.promoBanner {
  background-color: white;
  margin-bottom: 10pt;
  cursor: pointer;
}
