/**
frontpage.scss

Sass styling for new frontpage
**/

@import 'common';


body {
  font-family: 'apercuregular';
  font-size: 11pt;
}

#main {
  margin: 20pt auto 175px auto;
}

a {
  color: black;
}

// Frontpage styling

h1, h2, h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.frontpageCol {
  padding-left: $box-padding;
  padding-right: $box-padding;
}

// Radio Info

.active > .radioBanner > .rectImage {
  background-color: rgba(255, 255, 255, 0.20);
}

.radioBanner > .rectImage:hover, .radioBanner > .rectImage:focus {
  background-color: rgba(255, 255, 255, 0.35);
}

.radioInfo {
  margin: 2*$box-padding 0;
  padding: 0 10pt;
}

// Banner

.promoBanner {
  background-color: white;
  margin-bottom: 10pt;
  cursor: pointer;
}

.promoBanner .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.promoBanner:hover .overlay, .promoBanner:focus .overlay {
  background-color: rgba(255, 255, 255, 0.35);
}
